.btn-circle.btn-xl {
    width: 130px;
    height: 130px;
    padding: 10px 16px;
    border-radius: 180px;
    font-size: 12px;
    text-align: center;
}

.top-buffer { 
    position: relative;
    top: 20px;
}

