h3{
    font-size: 18px;
    font-weight: bold;
}

a,p{

    font-size: 16px;
    color: black;
}
footer{
    padding-top: 50px;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: lightgray;
    height: 100px;
}