body{
  background: rgb(240, 239, 239);
}

.App {
  text-align: center;
  margin: 100px 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.heading{
  padding: 0px 0px 0px 5%;
  text-align: left;
  font-size: calc(10px + 2vmin);
}

.row{
  display: flex;
  margin: 0px 5%;
  padding: 5% 0px;
}

.project_img img{
  width: 80%;
}

.col-6{
  width: 50%;
  padding: 10px;
  font-size: calc(5px + 2vmin);
  font-weight: 300;
}

.col-6 h2{
  text-align: left;
}

.col-6 p{
  text-align: left;
}

.project_content{
  width: 40%;
}

@media (max-width:768px){
  .App {
    text-align: center;
    margin: 20px 30px;
  }  
  .row{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .project_content{
    width: 100%;
  }
  .project_img{
    margin: 0px auto;
    width: 100%;
  }
}
